<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.helmx.tutorial.system.mapper.UserMapper">
    <select id="checkUserPermissions" resultType="boolean">
        SELECT EXISTS(
        SELECT 1
        FROM tb_users u
        INNER JOIN tb_rbac_user_roles ur ON u.id = ur.user_id
        INNER JOIN tb_rbac_roles r ON ur.role_id = r.id
        INNER JOIN tb_rbac_role_resources rr ON r.id = rr.role_id
        INNER JOIN tb_rbac_resources res ON rr.resource_id = res.id
        WHERE u.id = #{userId}
        AND u.status = 1
        AND r.status = 1
        AND res.code IN
        <foreach collection="permissions" item="perm" open="(" separator="," close=")">
            #{perm}
        </foreach>
        )
    </select>
</mapper>